app-footer {
  width: 100%;
  vertical-align: bottom;
  position:fixed;
  bottom: 0;
}

app-header {
  width: 100%;
  vertical-align: top;
}

#all{
  background-color: #333;
  width: 100%;
  position:fixed;
}
